.blue {
    color: blue;
}

.blue-bg {
    background: #2196F3;
}

.white {
    color: white;
}

.red {
    color: #f33;
}

.ffa-bg {
    background: #ffa;
}

.note {
    border-left: 4px solid #ff9800;   
}

ul li {
  display: inline;
  margin: 0 15px;
}

